<div>
  <form class="crbInput">
    <label for="length">Length (5-128)</label>
    <input
      id="length"
      name="length"
      type="number"
      maxlength="3"
      size="3"
      placeholder="0"
      min="5"
      max="256"
      [(ngModel)]="length"
    />
    <input
      type="range"
      min="5"
      max="128"
      class="slider"
      id="lengthRange"
      name="lengthRange"
      [(ngModel)]="length"
    />
  </form>
  <form class="crbInput">
    <span class="pseudoLabel">Characters</span>
    <div class="group">
      <div class="group__item">
        <input
          id="charsUC"
          name="charsUC"
          data-index="0"
          type="checkbox"
          [value]="char()[0]"
          (change)="changeValue($event)"
        />
        <label class="checkbox" for="charsUC">
          @if (char()[0]) {
          <crb-icon image="checkboxRound" width="30" height="30" />
          } @else {
          <crb-icon image="roundEmpty" width="30" height="30" />
          } A-Z</label
        >
      </div>
      <div class="spacer"></div>
      <div class="group__item">
        <input
          id="charsLC"
          name="charsLC"
          data-index="1"
          type="checkbox"
          [value]="char()[1]"
          (change)="changeValue($event)"
        />
        <label class="checkbox" for="charsLC">
          @if (char()[1]) {
          <crb-icon image="checkboxRound" width="30" height="30" />
          } @else {
          <crb-icon image="roundEmpty" width="30" height="30" />
          } a-z</label
        >
      </div>
      <div class="spacer"></div>
      <div class="group__item">
        <input
          id="charsNum"
          name="charsNum"
          data-index="2"
          type="checkbox"
          [value]="char()[2]"
          (change)="changeValue($event)"
        />
        <label class="checkbox" for="charsNum">
          @if (char()[2]) {
          <crb-icon image="checkboxRound" width="30" height="30" />
          } @else {
          <crb-icon image="roundEmpty" width="30" height="30" />

          } 1-9</label
        >
      </div>
      <div class="spacer"></div>
      <div class="group__item"></div>
      <input
        id="charsSpec"
        name="charsSpec"
        data-index="3"
        type="checkbox"
        [value]="char()[3]"
        (change)="changeValue($event)"
      />
      <label class="checkbox" for="charsSpec">
        @if (char()[3]) {
        <crb-icon image="checkboxRound" width="30" height="30" />
        } @else {
        <crb-icon image="roundEmpty" width="30" height="30" />

        } /(=?...</label
      >
    </div>
  </form>
  <form class="crbInput">
    <label for="password">Password</label>
    <div class="flex">
      <input
        id="password"
        name="password"
        type="text"
        [attr.maxlength]="128"
        [size]="length() > 22 ? 22 : length()"
        [value]="showClear ? passwordClear() : passwordMasked()"
        disabled
      />
      <div class="flex">
        <div class="iconWrapper" (keypress)="regenerate()" (click)="regenerate()">
          <crb-icon image="refresh" width="40" height="40" />
        </div>
        <div class="iconWrapper" (mousedown)="showClear = true" (mouseup)="showClear = false">
          <crb-icon image="eye" width="40" height="40" />
        </div>
        <div class="iconWrapper">
          <crb-clipboard title="Password" [value]="passwordClear()" />
        </div>
      </div>
    </div>
  </form>
</div>
