@use '../../../../../styles/modules/input.scss';

@include input.crbInput;
@include input.crbRange;
@include input.crbColor;

.preview {
  width: 500px;
  max-width: 500px;
  height: 400px;
  max-height: 400px;
  background-color: var(--input-bg-color);
  .interaction {
    display: flex;
    height: calc(100% - 1em);
    justify-content: center;
    align-items: center;
  }
  .imagePreview {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #imgPreview {
    max-width: 500px;
    max-height: 400px;
    object-fit: contain;
  }
  #canvasPreview {
    max-width: 500px;
    max-height: 400px;
  }
  #corbie {
    display: none;
  }
}
