<div>
  <h1 class="code">console.greet("Hello Corbie API");</h1>
  <p>
    First off - to get it out of the way: this is not actually an API. Just the shorter the URL is
    the more likely you'll use it and I'm planing on more services under this domain that suit the
    term API better. This just happened to be the first part to be released.
  </p>
  <p>
    The first (and currently only) one i can provide is an placeholder image service. Use it like
    <a href="/lorem-image/600/400/ffd801" target="_blank"
      >api.corbie.dev/lorem-image/600/400/ffd801</a
    >
    or check the <a href="/docs/lorem-image">docs</a>.
  </p>
  <p>
    Feel free to look around and come back to enjoy an ever-increasing number of tools for you to
    make your life a bit easier.
  </p>
</div>
