h1 {
  font-size: 1.5em;
  &.code {
    font-family: SourceCode, monospace;
  }
}

a {
    display: inline-block;
    text-decoration: underline;
}

div.row {
  max-width: 45dvw;
  .box {
    .title {
      margin-top: -2.6em;
    }
    .interaction {
      display: block;
      font-size: 1rem;
    }
  }
}