<div>
  <form class="crbInput">
    <label for="masterR">Text</label>
    <textarea
      id="text"
      name="text"
      placeholder="Please enter the text you wanna transform!"
      rows="15"
      cols="75"
      [(ngModel)]="text"
      (change)="onChangeText($event)"
    ></textarea>
  </form>
  <form class="crbInput">
    <label for="options">Options</label>
    <div class="flex">
      <select
        id="options"
        name="options"
        #options
        [(ngModel)]="option"
        (ngModelChange)="onChangeOption($event)"
      >
        <option value="keep" [attr.selected]="option() === 'keep'">keep as is</option>
        <option value="lower" [attr.selected]="option() === 'lower'">all lower case</option>
        <option value="upper" [attr.selected]="option() === 'upper'">all upper case</option>
        <option value="capWord" [attr.selected]="option() === 'capWord'">capitalize (word)</option>
        <option value="capSentence" [attr.selected]="option() === 'capSentence'">
          capitalize (sentence)
        </option>
      </select>
      <crb-clipboard class="ml5" title="Text" [value]="text()" />
    </div>
  </form>
</div>
