<header>
  <h1>Aspect Ratio</h1>
  <h2>Calculate and convert aspect ratios for images and videos</h2>
  <hr />
</header>
<div class="card">
  <div class="inner">
    <form class="crbInput">
      <div class="flex">
        <label for="inputPresets">Common Ratios</label>
      </div>
      <select
        id="inputPresets"
        name="inputPresets"
        #inputPresets
        [(ngModel)]="ratioName"
        (ngModelChange)="changeDropdownHandler($event)"
      >
        <option [value]="'default'" disabled>custom</option>
        @for (commonName of commonNames; track $index) {
          <option [value]="commonRatios[$index]">
            <span>{{ commonName }}</span>
          </option>
        }
      </select>
    </form>
  </div>
</div>
<div class="card" id="mainCard" [attr.currentMode]="modeLink()">
  <div class="inner">
    <div class="flex">
      <form class="crbInput">
        <label for="ratioWidth">Width (ratio)</label>
        <input
          #inputRatioWidth
          type="number"
          id="ratioWidth"
          name="ratioWidth"
          maxlength="10"
          placeholder="0"
          min="0"
          max="1000"
          placeholder="0"
          [(ngModel)]="ratioWidth"
          (ngModelChange)="changeRatioHandler('ratio', 'width')"
        />
      </form>
      <app-link-toggle
        ident="ratio/pixels"
        [current]="modeLink()"
        (keypress)="toggleMode()"
        (click)="toggleMode()"
      />

      <form class="crbInput">
        <label for="ratioHeight">Height (ratio)</label>
        <input
          #inputRatioHeight
          type="number"
          id="ratioHeight"
          name="ratioHeight"
          maxlength="10"
          placeholder="0"
          min="0"
          max="1000"
          placeholder="0"
          [(ngModel)]="ratioHeight"
          (ngModelChange)="changeRatioHandler('ratio', 'height')"
        />
      </form>
    </div>
    <div class="flex">
      <app-link-toggle
        ident="width/height"
        [current]="modeLink()"
        (keypress)="toggleMode()"
        (click)="toggleMode()"
      />
      <crb-icon
        id="swapValues"
        image="swapHorizontal"
        width="20"
        height="20"
        (keypress)="swapValues()"
        (click)="swapValues()"
      />
      <app-link-toggle
        ident="width/height"
        [current]="modeLink()"
        (keypress)="toggleMode()"
        (click)="toggleMode()"
      />
    </div>
    <div class="flex">
      <form class="crbInput">
        <label for="pixelWidth">Width (pixels)</label>
        <input
          #inputPixelWidth
          type="number"
          id="pixelWidth"
          name="pixelWidth"
          maxlength="10"
          placeholder="0"
          min="0"
          max="1000000"
          placeholder="0"
          [(ngModel)]="pixelWidth"
          (ngModelChange)="changeRatioHandler('pixels', 'width')"
        />
      </form>
      <app-link-toggle
        ident="ratio/pixels"
        [current]="modeLink()"
        (keypress)="toggleMode()"
        (click)="toggleMode()"
      />

      <form class="crbInput">
        <label for="pixelHeight">Height (pixels)</label>
        <input
          #inputPixelHeight
          type="number"
          id="pixelHeight"
          name="pixelHeight"
          maxlength="10"
          placeholder="0"
          min="0"
          max="1000000"
          placeholder="0"
          [(ngModel)]="pixelHeight"
          (ngModelChange)="changeRatioHandler('pixels', 'height')"
        />
      </form>
    </div>
  </div>
</div>
<div class="card-wrapper">
  <div class="card">
    <div class="inner">
      <div>Simplified</div>
      <div id="simplified" class="ellipsis" title="{{ ratioSimplified() }}">
        {{ ratioSimplified() }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="inner outputText">
      <div>Decimal</div>
      <div id="decimal" class="ellipsis" title="{{ ratioDecimal() }}">{{ ratioDecimal() }}</div>
    </div>
  </div>
  <div class="card">
    <div class="inner outputText">
      <div>Percentage</div>
      <div id="percentage" class="ellipsis" title="{{ ratioPercentage() }}">
        {{ ratioPercentage() }}
      </div>
    </div>
  </div>
</div>
