div.flex {
  flex-direction: row;
  gap: 1rem;
  form {
    width: 45%;
  }
  app-link-toggle {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    &:first-child,
    &:last-child {
      width: 45%;
    }
  }
  crb-icon {
    margin-right: 0;
  }
}
