<div>
  <form class="crbInput">
    <span class="pseudoLabel">Permissions</span>
    <div class="table">
      <div class="item"></div>
      <div class="item">Owner</div>
      <div class="item">Group</div>
      <div class="item">Public</div>
      <div class="break"></div>
      <div class="item">Read</div>
      @for (item of permBool(); track $index) {
      <div class="item">
        <input
          id="item{{ $index }}"
          [attr.data-index]="$index"
          type="checkbox"
          [value]="item"
          (keypress)="onChangeBool($event)"
          (click)="onChangeBool($event)"
        />
        <label for="item{{ $index }}">
          @if (item) {
          <crb-icon image="checkboxRound" width="30" height="30" />
          } @else {
          <crb-icon image="roundEmpty" width="30" height="30" />
          }
        </label>
      </div>
      @if (($index+1) % 3 === 0) {
      <div class="break"></div>
      } @if ($index+1 === 3) {
      <div class="item">Write</div>
      } @if ($index+1 === 6) {
      <div class="item">Execute</div>
      } }
    </div>
  </form>
  <form class="crbInput">
    <label for="hwb">Numeric</label>
    <input
      id="permNumber"
      name="permNumber"
      type="text"
      maxlength="3"
      size="3"
      [(ngModel)]="permNumber"
      (ngModelChange)="onChangeNumber($event)"
      (focusout)="inputCleanup($event)"
    />
  </form>
  <form class="crbInput">
    <label for="hwb">Symbolic</label>
    <input
      id="permChar"
      name="permChar"
      type="text"
      maxlength="10"
      size="10"
      [(ngModel)]="permChar"
      (ngModelChange)="onChangeChar($event)"
      (focusout)="inputCleanup($event)"
    />
  </form>
</div>
