@mixin spacer {
  .ml5 {
    margin-left: 0.5rem;
  }
  .mb5 {
    margin-bottom: 0.5rem;
  }

  .spacer {
    border-right: 1px solid var(--main-fg-color);
  }
}

@mixin layout {
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  section {
    min-height: 100dvh;
    margin: auto;
    background: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      max-width: 50dvw;
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    &.active {
      color: var(--sec-fg-color);
    }
    &:hover crb-icon {
      color: var(--sec-fg-color);
    }
  }
}
