<header>
  <h1>Color Converter</h1>
  <h2>Convert between HEX, RGB, HWB, OKLCH, CMYK and more</h2>
  <hr />
</header>
<div class="card-wrapper">
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <label for="picker">Colorpicker</label>
        <app-color-picker
          ident="picker"
          [(color)]="colorPicker"
          (changeColor)="changeColorHandler($event)"
          disabled="false"
        />
      </form>
    </div>
  </div>
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <label for="pickerWebsafe">Preview closest websafe</label>
        <app-color-picker
          ident="pickerWebsafe"
          [(color)]="colorPickerWeb"
          (changeColor)="changeColorHandler($event)"
          disabled="true"
        />
      </form>
    </div>
  </div>
</div>
<div class="card">
  <div class="inner">
    <form class="crbInput flex">
      <input
        #inputSliderR
        type="range"
        id="rangeR"
        name="rangeR"
        min="0"
        max="255"
        class="slider"
        [(ngModel)]="masterR"
        (ngModelChange)="changeColorHandler(inputMasterR.value, 'master')"
      />
      <input
        #inputMasterR
        type="number"
        id="masterR"
        name="masterR"
        maxlength="3"
        size="3"
        placeholder="0"
        min="0"
        max="256"
        placeholder="0"
        [(ngModel)]="masterR"
        (ngModelChange)="changeColorHandler(inputMasterR.value, 'master')"
      />
    </form>
    <form class="crbInput flex">
      <input
        #inputSliderG
        type="range"
        id="rangeG"
        name="rangeG"
        min="0"
        max="255"
        class="slider"
        [(ngModel)]="masterG"
        (ngModelChange)="changeColorHandler(inputMasterG.value, 'master')"
      />
      <input
        #inputMasterG
        type="number"
        id="masterG"
        name="masterG"
        maxlength="3"
        size="3"
        placeholder="0"
        min="0"
        max="255"
        maxlength="3"
        size="3"
        placeholder="0"
        [(ngModel)]="masterG"
        (ngModelChange)="changeColorHandler(inputMasterG.value, 'master')"
      />
    </form>
    <form class="crbInput flex">
      <input
        #inputSliderB
        type="range"
        id="rangeB"
        name="rangeB"
        min="0"
        max="255"
        class="slider"
        [(ngModel)]="masterB"
        (ngModelChange)="changeColorHandler(inputMasterB.value, 'master')"
      />
      <input
        #inputMasterB
        type="number"
        id="masterB"
        name="masterB"
        maxlength="3"
        size="3"
        placeholder="0"
        min="0"
        max="255"
        maxlength="3"
        size="3"
        placeholder="0"
        [(ngModel)]="masterB"
        (ngModelChange)="changeColorHandler(inputMasterB.value, 'master')"
      />
    </form>
  </div>
</div>

<div class="card-wrapper">
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <div class="flex">
          <label for="hex">HEX</label>
          <div>
            <crb-clipboard title="Color as HEX" [value]="'#' + colorHEX()" class="iconButton">
              <crb-icon image="copy" width="20" height="20" />Copy
            </crb-clipboard>
          </div>
        </div>
        <input
          #inputHEX
          id="hex"
          type="text"
          maxlength="7"
          placeholder="000000"
          [value]="colorHEX()"
          (input)="changeColorHandler(inputHEX.value, 'HEX')"
        />
      </form>
    </div>
  </div>
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <div class="flex">
          <label for="hexWeb">closest HEX websafe</label>
          <div>
            <crb-clipboard title="Websafe as HEX" [value]="'#' + colorHEXWeb()" class="iconButton">
              <crb-icon image="copy" width="20" height="20" />Copy
            </crb-clipboard>
          </div>
        </div>
        <input
          #inputHEXWeb
          id="hexWeb"
          type="text"
          maxlength="6"
          placeholder="000000"
          [value]="colorHEXWeb()"
          disabled
        />
      </form>
    </div>
  </div>
</div>
<div class="card-wrapper">
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <div class="flex">
          <label for="rgb">RGB</label>
          <div>
            <crb-clipboard
              title="Color as RGB"
              [value]="'rgba(' + colorRGB() + ',1)'"
              class="iconButton"
            >
              <crb-icon image="copy" width="20" height="20" />Copy
            </crb-clipboard>
          </div>
        </div>
        <input
          #inputRGB
          id="rgb"
          type="text"
          maxlength="100"
          placeholder="0,0,0"
          [value]="colorRGB()"
          (input)="changeColorHandler(inputRGB.value, 'RGB')"
        />
      </form>
    </div>
  </div>
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <div class="flex">
          <label for="rgbWeb">closest RGB websafe</label>
          <div>
            <crb-clipboard
              title="Websafe as RGB"
              [value]="'rgba(' + colorRGBWeb() + ',1)'"
              class="iconButton"
            >
              <crb-icon image="copy" width="20" height="20" />Copy
            </crb-clipboard>
          </div>
        </div>
        <input
          #inputRGBWeb
          id="rgbWeb"
          type="text"
          maxlength="100"
          placeholder="0,0,0"
          [value]="colorRGBWeb()"
          disabled
        />
      </form>
    </div>
  </div>
</div>
<div class="card">
  <div class="inner">
    <form class="crbInput">
      <div class="flex">
        <label for="inputName">Color name</label>
        @if (names[codes.indexOf(inputName.value)]) {
          <div>
            <crb-clipboard
              title="Color name"
              [value]="names[codes.indexOf(inputName.value)]"
              class="iconButton"
            >
              <crb-icon image="copy" width="20" height="20" />Copy
            </crb-clipboard>
          </div>
        }
      </div>
      <select
        id="inputName"
        name="inputName"
        #inputName
        [(ngModel)]="colorName"
        (ngModelChange)="changeColorHandler($event)"
      >
        <option [value]="'default'" disabled>no name</option>
        @for (name of names; track $index) {
          <option [value]="codes[$index]">
            <span>{{ name }}</span>
          </option>
        }
      </select>
    </form>
  </div>
</div>

<div class="card-wrapper">
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <div class="flex">
          <label for="hwb">HWB</label>
          <div>
            <crb-clipboard
              title="Color as HWB"
              [value]="'hwb(' + colorHWB() + ')'"
              class="iconButton"
            >
              <crb-icon image="copy" width="20" height="20" />Copy
            </crb-clipboard>
          </div>
        </div>
        <input
          #inputHWB
          id="hwb"
          type="text"
          maxlength="100"
          placeholder="0,0,0"
          [value]="colorHWB()"
          (input)="changeColorHandler(inputHWB.value, 'HWB')"
        />
      </form>
    </div>
  </div>
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <div class="flex">
          <label for="hwb">OKLCH</label>
          <div>
            <crb-clipboard
              title="Color as OKLCH"
              [value]="'oklch(' + colorOKLCH() + ')'"
              class="iconButton"
            >
              <crb-icon image="copy" width="20" height="20" />Copy
            </crb-clipboard>
          </div>
        </div>
        <input
          #inputOKLCH
          id="oklch"
          type="text"
          maxlength="100"
          placeholder="0,0,0"
          [value]="colorOKLCH()"
          (input)="changeColorHandler(inputOKLCH.value, 'OKLCH')"
        />
      </form>
    </div>
  </div>
</div>
<div class="card-wrapper">
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <div class="flex">
          <span class="pseudoLabel">HSV (HSB)</span>
          <div>
            <crb-clipboard
              title="Color as HSV (HSB)"
              [value]="'hsv(' + colorHSV()[0] + ', ' + colorHSV()[1] + '%, ' + colorHSV()[2] + '%)'"
              class="iconButton"
            >
              <crb-icon image="copy" width="20" height="20" />Copy
            </crb-clipboard>
          </div>
        </div>
        <div class="flex">
          <div class="flex">
            <label for="hsv-h">H:</label>
            <input
              #inputHSVh
              id="hsv-h"
              type="number"
              min="0"
              max="360"
              size="4"
              placeholder="0"
              [value]="colorHSV()[0]"
              (input)="
                changeColorHandler(
                  inputHSVh.value + ',' + inputHSVs.value + ',' + inputHSVv.value,
                  'HSV'
                )
              "
            />
            <span>°</span>
          </div>
          <div class="flex">
            <label for="hsv-s">S:</label>
            <input
              #inputHSVs
              id="hsv-s"
              type="number"
              min="0"
              max="100"
              size="5"
              placeholder="0"
              [value]="colorHSV()[1]"
              (input)="
                changeColorHandler(
                  inputHSVh.value + ',' + inputHSVs.value + ',' + inputHSVv.value,
                  'HSV'
                )
              "
            />
            <span>%</span>
          </div>
          <div class="flex">
            <label for="hsv-v">V:</label>
            <input
              #inputHSVv
              id="hsv-v"
              type="number"
              min="0"
              max="100"
              size="4"
              placeholder="0"
              [value]="colorHSV()[2]"
              (input)="
                changeColorHandler(
                  inputHSVh.value + ',' + inputHSVs.value + ',' + inputHSVv.value,
                  'HSV'
                )
              "
            />
            <span>%</span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <div class="flex">
          <span class="pseudoLabel">HSL</span>
          <div>
            <crb-clipboard
              title="Color as HSL"
              [value]="'hsl(' + colorHSL()[0] + ', ' + colorHSL()[1] + '%, ' + colorHSL()[2] + '%)'"
              class="iconButton"
            >
              <crb-icon image="copy" width="20" height="20" />Copy
            </crb-clipboard>
          </div>
        </div>
        <div class="flex">
          <div class="flex">
            <label for="hsl-h">H:</label>
            <input
              #inputHSLh
              id="hsl-h"
              type="number"
              min="0"
              max="360"
              size="4"
              placeholder="0"
              [value]="colorHSL()[0]"
              (input)="
                changeColorHandler(
                  inputHSLh.value + ',' + inputHSLs.value + ',' + inputHSLl.value,
                  'HSL'
                )
              "
            />
            <span>°</span>
          </div>
          <div class="flex">
            <label for="hsl-s">S:</label>
            <input
              #inputHSLs
              id="hsl-s"
              type="number"
              min="0"
              max="100"
              size="4"
              placeholder="0"
              [value]="colorHSL()[1]"
              (input)="
                changeColorHandler(
                  inputHSLh.value + ',' + inputHSLs.value + ',' + inputHSLl.value,
                  'HSL'
                )
              "
            />
            <span>%</span>
          </div>
          <div class="flex">
            <label for="hsl-l">L:</label>
            <input
              #inputHSLl
              id="hsl-l"
              type="number"
              min="0"
              max="100"
              size="10"
              placeholder="0"
              [value]="colorHSL()[2]"
              (input)="
                changeColorHandler(
                  inputHSLh.value + ',' + inputHSLs.value + ',' + inputHSLl.value,
                  'HSL'
                )
              "
            />
            <span>%</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="card">
  <div class="inner">
    <form class="crbInput">
      <div class="flex">
        <span class="pseudoLabel">CMYK</span>
        <crb-clipboard
          title="Color as CMYK"
          [value]="
            'cmyk(' +
            colorCMYK()[0] +
            '%, ' +
            colorCMYK()[1] +
            '%, ' +
            colorCMYK()[2] +
            '%, ' +
            colorCMYK()[3] +
            '%)'
          "
          class="iconButton"
        >
          <crb-icon image="copy" width="20" height="20" />Copy
        </crb-clipboard>
      </div>
      <div class="flex">
        <div class="flex">
          <label for="cmyk-c">C: </label>
          <input
            #inputCMYKc
            id="cmyk-c"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorCMYK()[0]"
            (input)="
              changeColorHandler(
                inputCMYKc.value +
                  ',' +
                  inputCMYKm.value +
                  ',' +
                  inputCMYKy.value +
                  ',' +
                  inputCMYKk.value,
                'CMYK'
              )
            "
          />
          <span> %</span>
        </div>
        <div class="flex">
          <label for="cmyk-m">M: </label>
          <input
            #inputCMYKm
            id="cmyk-m"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorCMYK()[1]"
            (input)="
              changeColorHandler(
                inputCMYKc.value +
                  ',' +
                  inputCMYKm.value +
                  ',' +
                  inputCMYKy.value +
                  ',' +
                  inputCMYKk.value,
                'CMYK'
              )
            "
          />
          <span> %</span>
        </div>
        <div class="flex">
          <label for="cmyk-y">Y: </label>
          <input
            #inputCMYKy
            id="cmyk-y"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorCMYK()[2]"
            (input)="
              changeColorHandler(
                inputCMYKc.value +
                  ',' +
                  inputCMYKm.value +
                  ',' +
                  inputCMYKy.value +
                  ',' +
                  inputCMYKk.value,
                'CMYK'
              )
            "
          />
          <span> %</span>
        </div>
        <div class="flex">
          <label for="cmyk-k">K: </label>
          <input
            #inputCMYKk
            id="cmyk-k"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorCMYK()[3]"
            (input)="
              changeColorHandler(
                inputCMYKc.value +
                  ',' +
                  inputCMYKm.value +
                  ',' +
                  inputCMYKy.value +
                  ',' +
                  inputCMYKk.value,
                'CMYK'
              )
            "
          />
          <span> %</span>
        </div>
      </div>
    </form>
  </div>
</div>
