<div>
  <h1>How to use?</h1>
  <p>
    It's pretty simple. Just add an image tag to your html and make let the source be
    https://api.corbie.dev/lorem-image/&#123;width&#125;/&#123;height&#125;/&#123;color&#125; where
    width and height are the dimensions you want and color is the hex code without the #. For
    example:
  </p>
  <p class="code">&lt;img src="https://api.corbie.dev/lorem-image/600/400/ffd801"&gt;</p>
  <p>Width and Height are currently limited to 3840px which pretty much covers every 4k display.</p>
  <p>The image is of type PNG and is considered to stay the default type. WebP is currently evaluated and other formats might come aswell.</p>
</div>
